@{
	Layout = "_BaseLayout";
}
<nav>
	<ul>
		<li><a href="/admin">Dashboard</a></li>
		<li><a href="/users">Manage Users</a></li>
		<li><a href="/settings">Settings</a></li>
	</ul>
</nav>

<main role="main">
	@RenderBody()
</main>