
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8"/>
    <title>@ViewData["Title"] - Layout Demo</title>
</head>

<body>
    <header>
        <h1>Welcome to my first application using view layouts.</h1>
    </header>
    @RenderBody()
    <footer>
        <hr/>
        <p>&copy; 2024 - Akhir Rashad</p>
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>